{% extends "header.html" %}
{% block body %}
<body>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                </div>
                <div class="col-sm-8 text-left">
                    <h1>Contributors</h1>
                    <hr>
                    <h4 class="text-muted">Jeremy Brown ~ Lead Technical Programmer Man</h4>
                    <h4 class="text-muted">Austin Cline ~ Provider of Chick-Fil-A & Sports Advice</h4>
                    <h4 class="text-muted">Kennon Young ~ MySql God</h4>
                    <br>
                    <h1>The Project:</h1>
                    <hr>
                    <p>Music Search Database</p>
                    <br>
                    <h4>Special Thanks To...</h4>
                    <hr>
                    <h5 class="text-muted">Eddie Galloway ~ Reminding us how to connect python together</h5>
                    <h5 class="text-muted">Mitch Powell ~ Giving some knowledge on the wonders of flask</h5>
                    <h5 class="text-muted">Brandyon Deffinbaugh ~ Complimenting the fire emoji</h5>
                    <span class="glyphicon glyphicon-fire"></span>
                </div>

                <div class="col-sm-2 sidenav">
                </div>
            </div>
        </div>
    </body>
{% endblock %}