{% extends "header.html" %}
{% block body %}
<body>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav"></div>
            <div class="col-sm-8 text-center">
                <h1>Album Name: <b>{{ name }}</b></h1>
                <hr>
                <h3>By: <b>{{ artist }}</b></h3>
                <br>
                <h4>Genre: <b>{{ genre }}</b></h4>
                <h4>Album Length: <b>{{ length }}</b></h4>
                <h4>Release Date: <b>{{ released }}</b></h4>
                <br>
                <div id="results_div">
                    <div class="table-responsive">
                        <table class="table table-hover" id="results_table">
                            <thead>
                                <tr>
                                    <th>Songs</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for x in range(albumsongs|length) %}
                                <tr>
                                    <td>{{ albumsongs[x][0] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
     </div>
</body>
{% endblock %}