{% extends "header.html" %}
{% block body %}
<body>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-8 text-center">
            <form role="form" action="/update_un" method="POST">
                <br>
                {% if msg != '' %}
                <h3> {{ msg }} </h3>
                <br>
                {% endif %}
                <h2>Change Username</h2>
                <hr>
                <input type="text" class="form-control" placeholder="Enter new user name" id="updateName" name="updateName">
                <br>
                <button type="submit" id="changeButton" class="btn btn-default">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}