{% extends "header.html" %}
{% block body %}
    <body>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                </div>
                <div class="col-sm-8 text-center">
                    {% if username and password %}
                    <br>
                    <br>
                    <h1>{{ username }}, you are logged in!</h1>
                    <br>
                    <form role="form" action="/logout" method="POST">
                        <input type="submit" name="logout" id="logoutbutton" class="btn btn-default" value="logout"></input>
                    </form>
                    <br>
                    <form role="form" action="/saved" method="POST">
                        <input type="submit" name="saved" id="logoutbutton" class="btn btn-default" value="saved"></input>
                    </form>
                    <br>
                    <form role="form" action="/delete_user" method="POST">
                        <input type="submit" name="delete" id="deletebutton" class="btn btn-danger" value="delete"></input>
                    </form>
                    <hr>
                    {% else %}
                    <form role="form" action="/check_user" method="POST">
                        <br>
                        <h2>Login</h2>
                        <hr>
                        <input type="text" class="form-control" placeholder="Enter user name" id="unSet" name="userName">
                        <br>
                        <input type="password" class="form-control" placeholder="Enter password" id="pwSet" name="password">
                        <br>
                        <button type="submit" id="loginButton" class="btn btn-default">Login</button>
                    </form>
                    <br>
                    <form role="form" action="/register/" method="POST">
                        <input type="submit" name="register" id="registerbutton" class="btn btn-default" value="register"></input>
                    </form>
                    {% endif %}
                </div>
                <div class="col-sm-2 sidenav"></div>
            </div>
        </div>
    </body>
{% endblock %}